@charset "UTF-8";

* {
margin: 0px;
padding: 0px;
}


body {
    background: rgb(0, 162, 255);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
    width: 100%;
    margin: auto;
    display: flex
}

section {
    background: white;
    border-radius: 10px;
    padding: 40px;
    width: 500px;
    height: 350px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    

}

section > div#res > img#foto {
    margin-top: 35px;
}


footer {
    font-size: 1rem;
     color: rgb(254, 254, 255);
     text-align: center;
     padding: 0.25rem;
     font-style: italic;
     text-decoration: none;
     
    
} 

footer a {
    color: white;
    text-decoration: none;

}

footer a:hover {
    color: rgb(255, 188, 111);
    text-decoration: underline;
}
